.QuizBloc {
  margin: auto;
  margin-top: 20px;
  /* border: 1px solid black; */
  box-shadow: 1px 1px 5px rgb(173, 173, 173);
  width: 500px;
  height: 500px;
  padding: 10px 10px;
}

.Button {
  margin: auto;
  text-align: center;
  background-color: #333;
  border: none;
  color: white;
  width: 100px;
  padding: 5px 0px;
  margin-top: 20px;
}

.Button:hover {
  background-color: #111;
}
